<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.atiar.pnotca">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Register"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Start"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Select_Category"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Select_Level"
            android:screenOrientation="landscape" />
        <activity
            android:name=".puzzleL1.PZ_L1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".puzzleL2.PZ_l2_G2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".puzzleL1.PZ_L1_G1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".puzzleL2.PZ_L2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".puzzleL1.PZ_L1_G2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".puzzleL2.PZ_l2_G1"
            android:screenOrientation="landscape" />
        <activity android:name=".patternL1.PM_L1" android:screenOrientation="landscape"/>
        <activity android:name=".patternL2.PM_L2_G2" android:screenOrientation="landscape" />
        <activity android:name=".patternL1.PM_L1_G1" android:screenOrientation="landscape"/>
        <activity android:name=".patternL2.PM_L2" android:screenOrientation="landscape"/>
        <activity android:name=".patternL1.PM_L1_G2" android:screenOrientation="landscape"/>
        <activity android:name=".patternL2.PM_L2_G1" android:screenOrientation="landscape"></activity>
    </application>

</manifest>